:root{
    --dark: #000000;
    --dark-light: #6e6d7a;
    --light: #F3F3F4;
    --pink: #EA4C89;
}


/* defaults */
html, body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

button:focus{
    outline: none;
}

.bg-dark-light{
    background-color: var(--light);
    color: var(--dark-light);
}

.light{
    color: var(--dark-light);
}

.dark{
    color: var(--dark);
}


/* main */
.header .main{
    margin-left: 60px;
    margin-right: -60px;
    margin-top: 70px;
}

.logo{
    width: 84px;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.header h2{
    font-family: 'Poppins';
    color: var(--pink);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
}


.d{
    font-family: 'Montserrat';
    color: var(--dark);
    font-weight: 800;
    font-size: 35px;
    text-transform: capitalize;
    line-height: 45px;
    letter-spacing: 1px;
}

.disc{
    
    font-family: 'Montserrat';
    color: var(--dark-light);
    font-weight: 400;
    font-size: 15px;
}


.description{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
}


.hire{
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: capitalize;
    background-color: var(--dark);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 1rem;
    background: linear-gradient(257deg, #4158D0, #C850C0, #FFCC70, #FBDA61, #FF5ACD);
    background-size: 600% 600%;
    animation: BgAnime 8s ease infinite;
}

.hire:hover{
    color: var(--dark);
    background: var(--light);
}

.hire2{
    height: 100px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    border: none;
    background: linear-gradient(257deg, #4158D0, #C850C0, #FFCC70, #FBDA61, #FF5ACD);
    background-size: 600% 600%;
    animation: BgAnime 8s ease infinite;
}

.hire2:hover{
    color: var(--dark);
    background: var(--light);
}


@keyframes BgAnime {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}


.square{
    height: 45px;
    padding: 9px 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);
    color: var(--dark);
    /* border: solid 1.4px rgb(218, 218, 218); */
    border: none;
    border-radius: 10px;
}

.square i{
    padding-top: 3px;
    font-size: 20px;
}

.square:hover{
    transition: 0.2s;
    /* border: solid 1.4px transparent; */
    background-color: #F3F3F4;
}   


.pink{
    color: var(--pink);
}
  

.masthead .masthead-color-block{
    height: 400px;
    width: 400px;
    margin-left: auto;
    background: linear-gradient(257deg, #C850C0, #4158D0,  #C850C0, #FFCC70, #FF5ACD, #4158D0);
    background-size: 600% 600%;
    animation: BgAnime 8s ease infinite;
}

.masthead .masthead-img{
    width: 600px;
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 450px; 
    margin-top: -350px;
    border: none;
    border-radius: 10px;
}




a font{
    color: var(--dark);
}

a{
    color: inherit;
}

a font:hover{
    color: rgb(212, 212, 212);
}

a:hover{
    text-decoration: none;
    color: inherit;
}


/* nav */
.fixednav{
  width: 100%;
  padding: 10px;
  background: rgb(255, 255, 255);
  z-index: 9999;
  box-shadow: 0 0 10px 0 rgb(248, 248, 248);
  transition: 0.5s;
}


nav button.active{
    height: 40px;
    padding: 9px 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: capitalize;
    background-color: #F3F3F4;
    color: var(--dark);
    border: none;
    border-radius: 10px;
    font-size: 13px;
    margin-left: 20px;
    transition: 0.2s;
    border: solid 2px transparent;
}


nav button{
    height: 40px;
    padding: 9px 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: capitalize;
    background-color: transparent;
    color: var(--dark);
    border: none;
    border-radius: 10px;
    font-size: 13px;
    margin-left: 20px;
    transition: 0.2s;
    border: solid 2px transparent;
}

nav button:hover{
    height: 40px;
    padding: 9px 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(243, 243, 244);
    color: var(--dark);
    border: none;
    border-radius: 10px;
    font-size: 13px;
    margin-left: 20px;
    transition: 0.2s;
    border: solid 2px transparent;
}


/* sections */
.section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.title{
    font-family: 'Montserrat';
    font-weight: 800;
    margin-top: 40px;
    text-transform: capitalize;
}

.card-title{
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--dark);
}
.card-disc{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    color: var(--dark-light);
}



.bold{
    font-weight: 700;
}


.link{
    color: var(--dark-light);
    border: none;
    background: none;
    font-weight: 700;
    text-transform: capitalize;
}

.featch-error{
    text-align: center;
    background: #F3F3F4;
    padding: 20px;
    color: var(--pink);
    font-family: 'Montserrat';
    font-weight: 700;
    padding-top: 30px;
    text-transform: capitalize;
    border-radius: 10px;
}

.featch-error button{
    margin-top: 12px;
    margin-bottom: 8px;
    height: 40px;
    padding: 9px 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: capitalize;
    background-color: var(--pink);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    margin-left: 20px;
    transition: 0.2s;
    border: solid 2px transparent;
}

/* mobile */
@media screen and (max-width: 750px){  
    .staggered{
     margin-top: 0px;
    }

    .upto-cards li{
        height: auto;
    }    
    #projectsheader{
        display: none;
    }

    #who{
        margin-top: 0;
    }

    #upto{   
        margin-top: -200px;
    }

    #proj{
        margin-top: -200px;
    }

    #dev{
        margin-top: -100px;
    }

    .logo{
        border-radius: 50px;
        margin-bottom: 20px;
        width: 70px;
        margin-left: 15px;
    }

    .pc{
        display: none;
    }    

    .masthead .masthead-color-block{
        display: none;
        margin-left: auto;
        border-top-left-radius: 20px;
        background: transparent;
    }

    .masthead .masthead-img{
        width: calc(100%);   
        height: 250px;
       
        background-size: cover;
        margin-top: 0px;
        margin-bottom: 35px;
        border-radius: 0;
    }

    .header .main{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }

    .d{
        font-family: 'Montserrat';
        color: var(--dark);
        font-weight: 800;
        font-size: 25px;
        text-transform: capitalize;
        line-height: 35px;
        letter-spacing: 1px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .header h2{
        font-weight: 650;
        font-size: 21px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .logo{
        border-radius: 100px;
        margin-top: 20px;
    }

    .upto{
        margin-right: 20px;
    }

    .fixedElement2{
        padding: 10px;
        background: white;
        z-index: 10;
        transition: 0.5s;
        width: auto;
        margin-right: -20px;
        margin-left: -20px;      
    }

}


/* pc */
@media screen and (min-width: 750px){      
   .mobile{
       display: none;
   }
   .staggered{
        margin-top: -40px;
    }
}






/* cards */

.who-cards{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    grid-auto-rows: auto;/* sets all the rows of the card t- 250px*/
}

.who-cards div{
    padding: 20px;
}



 @media screen and (min-width: 600px){ 
    .long{
        /* this is how we can make an item taller */
        /* grid-row: 1 / 4; */
        grid-row: span 1 / auto;        
    }

    .short{
        /* this is how we can make an item taller */
        /* grid-row: 1 / 4; */
        grid-row: span 1 / auto; 
    }

    .wide{
        /* this is how we can make an item taller */
        grid-column: span 2 / auto;
    }
}


.upto-cards{
    display: grid;
    gap: 1rem;
    /* to set the width of the cards as responsive  repeat(
        auto-fit(to fit the cards based on the device size) 
        auto-fill( creates additional columens when there is more space)
            but auto fit on the other hand expandds the cards to take up the whole space

        1fr = 100%
        minmax(200px, 1fr) used to set the min and max width
        ) */
    grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));
    grid-auto-rows: auto;/* sets all the rows of the card t- 250px*/
}


.upto-img{
    border-radius: 10px;
}

.upto-cards li{
    background: rgb(248, 248, 248);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    list-style: none;
    transition: 0.5s;
    cursor: pointer;
    height: 250px;
    border-radius: 4px;
}  

.upto-cards li:hover {
    /* transform: scale(1.07); */
    background: white;
    box-shadow: 0 0 30px 0 rgba(226, 226, 226, 0.562);
    color: var(--dark-light);
}

.upto-cards li i{
    transition: 0.5s;
}


.upto-cards li:hover i{
    color: var(--pink);
}




.staggered img:hover{
    box-shadow: 0 0 30px 0 rgb(226, 226, 226);
    transition: 0.5s;
    border-radius: 10px;
}



.upto-cards li .ti{
    font-size: 23px;
    font-weight: 800;
    font-family: 'Montserrat';
    text-transform: capitalize;
}  

.upto-cards li .di{
    margin-top: -10px;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: rgb(131, 131, 131);
}  

.upto-cards li .langs{
    margin-top: -10px;
    font-size: 12px;
    font-family: 'Montserrat';
    color: rgb(131, 131, 131);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 6px;
}  


/* design */
.design-cards{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;/* sets all the rows of the card t- 250px*/
}


/* projects */
.proj-cards{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    grid-auto-rows: auto;/* sets all the rows of the card t- 250px*/
}

.proj-cards div h3{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
}
.proj-cards div{
    background: rgb(248, 248, 248);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    list-style: none;
    transition: 0.5s;
    cursor: pointer;
}

.proj-cards div:hover{
    background: var(--pink);
    color: white;
    transform: scale(1.07);
    box-shadow:  0 0 10px 0 rgba(180, 180, 180, 0.322);
}


/* ttechnologies i've used */
.smaller-cards{
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
    grid-auto-rows: auto;/* sets all the rows of the card t- 250px*/
}

.smaller-cards div h3{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.smaller-cards div{
    background: rgb(248, 248, 248);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    list-style: none;
    transition: 0.5s;
    cursor: pointer;
}

.smaller-cards div:hover{
    /* background: var(--pink); */
    color: var(--pink);
    transform: scale(1.07);
    /* border-right: solid 2px var(--pink); */
}

.smaller-cards div:hover  i{
    transform: scale(1.1);
    animation: spin 0.5s;
}

.smaller-cards div  img{
    margin-top: -3px; 
    filter: grayscale(100%);
    width: 18px;
    margin-right: 5px;
}

.smaller-cards div:hover  img{
    transform: scale(1.1);
    animation: spin 0.5s;
    filter: grayscale(0%); 
}


.tooltip-inner {
    background-color: var(--pink);
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    padding: 20px;
    border-radius: 0;
    text-align: left;
    text-transform: capitalize;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: transparent !important;
    display: none;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: transparent !important;
    display: none;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: transparent !important;
    display: none;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: transparent !important;
    display: none;
}
